/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain;}
#container:not([style*="zoom"]) { -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }
.liquid .slideshow img { object-fit:contain; }

.in5-highlight {
	background:rgba(255,255,0,.6);
	mix-blend-mode:multiply;
	pointer-events:none;
	animation-name:in5-highlight-in,in5-highlight-in;
	animation-direction:normal,reverse;
	animation-delay:3s,3s;
	animation-duration:.5s,1s;
	animation-iteration-count:1,1;
}
@keyframes in5-highlight-in{ from{ opacity:0 } to { opacity: 1} }
.hidden { display:none !important; }
.skip-link-wrap { z-index: 1; position: fixed; }
[data-reader-only="1"]{
	transform: translateY(-100vh) !important;
	z-index:-1;
}
[data-reader-only="1"]:focus, [data-reader-only="1"]:active {
	transform: translateY(0%) !important;
	z-index:1;
}
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:2ex;padding-left:2ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:595px; height:842px; background: #fff !important; }
.paper-vertical { width:595px; height:100%; }
.paper-horizontal { width:18158px; height:854px; }
@media all and (max-height:842px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:595px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}

#item127180 {
	width:113px !important;
	height:9px !important;
	left:54px !important;
	top:810px !important;
}

#item353147_container {
	width:3px !important;
	height:3px !important;
	left:2px !important;
	top:2px !important;
}

#item362427 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item127203 {
	width:84px !important;
	height:9px !important;
	left:455px !important;
	top:810px !important;
}

#item362404 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item77707 {
	width:301px !important;
	left:36px !important;
	top:378px !important;
	min-height:191px !important;
}

#item336441 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item336417 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item336414 {
	width:43px !important;
	height:18px !important;
	left:38px !important;
	top:569px !important;
}

#item336464 {
	width:52px !important;
	height:16px !important;
	left:38px !important;
	top:551px !important;
}

#item362381 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item358559 {
	width:524px !important;
	height:294px !important;
	left:36px !important;
	top:55px !important;
}

#item358974 {
	width:90px !important;
	left:38px !important;
	top:596px !important;
	min-height:32px !important;
}

#item362358 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item77730 {
	width:231px !important;
	left:168px !important;
	top:385px !important;
	min-height:296px !important;
}

#item336514 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item336490 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item336487 {
	width:43px !important;
	height:18px !important;
	left:223px !important;
	top:497px !important;
}

#item336564 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item336540 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item336537 {
	width:43px !important;
	height:18px !important;
	left:222px !important;
	top:537px !important;
}

#item336615 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item336591 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item336587 {
	width:43px !important;
	height:18px !important;
	left:225px !important;
	top:577px !important;
}

#item336638 {
	width:52px !important;
	height:16px !important;
	left:168px !important;
	top:497px !important;
}

#item336662 {
	width:52px !important;
	height:16px !important;
	left:168px !important;
	top:537px !important;
}

#item336685 {
	width:52px !important;
	height:16px !important;
	left:168px !important;
	top:579px !important;
}

#item358564 {
	width:523px !important;
	height:294px !important;
	left:36px !important;
	top:55px !important;
}

#item359050 {
	width:90px !important;
	left:272px !important;
	top:498px !important;
	min-height:32px !important;
}

#item359073 {
	width:90px !important;
	left:272px !important;
	top:537px !important;
	min-height:32px !important;
}

#item359096 {
	width:90px !important;
	left:272px !important;
	top:577px !important;
	min-height:32px !important;
}

#item77790 {
	width:282px !important;
	left:36px !important;
	top:361px !important;
	min-height:189px !important;
}

#item336761 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item336737 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item336734 {
	width:43px !important;
	height:18px !important;
	left:37px !important;
	top:506px !important;
}

#item362335 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item336884 {
	width:52px !important;
	height:16px !important;
	left:37px !important;
	top:488px !important;
}

#item358569 {
	width:524px !important;
	height:269px !important;
	left:36px !important;
	top:54px !important;
}

#item359125 {
	width:90px !important;
	left:90px !important;
	top:506px !important;
	min-height:32px !important;
}

#item362312 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item77850 {
	width:275px !important;
	left:284px !important;
	top:387px !important;
	min-height:162px !important;
}

#item336811 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item336787 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item336784 {
	width:43px !important;
	height:18px !important;
	left:285px !important;
	top:564px !important;
}

#item359176 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item359152 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item359149 {
	width:43px !important;
	height:18px !important;
	left:376px !important;
	top:564px !important;
}

#item336907 {
	width:52px !important;
	height:16px !important;
	left:285px !important;
	top:546px !important;
}

#item359199 {
	width:52px !important;
	height:16px !important;
	left:376px !important;
	top:546px !important;
}

#item358573 {
	width:524px !important;
	height:269px !important;
	left:36px !important;
	top:54px !important;
}

#item359226 {
	width:81px !important;
	left:285px !important;
	top:588px !important;
	min-height:22px !important;
}

#item359249 {
	width:81px !important;
	left:378px !important;
	top:588px !important;
	min-height:22px !important;
}

#item359292 {
	width:84px !important;
	left:285px !important;
	top:611px !important;
	min-height:22px !important;
}

#item359296 {
	width:84px !important;
	left:378px !important;
	top:611px !important;
	min-height:22px !important;
}

#item77920 {
	width:234px !important;
	left:285px !important;
	top:57px !important;
	min-height:118px !important;
}

#item77966 {
	width:249px !important;
	left:285px !important;
	top:405px !important;
	min-height:117px !important;
}

#item337026 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337002 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item336999 {
	width:43px !important;
	height:18px !important;
	left:285px !important;
	top:197px !important;
}

#item337076 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337052 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337049 {
	width:43px !important;
	height:18px !important;
	left:285px !important;
	top:540px !important;
}

#item362289 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item337149 {
	width:52px !important;
	height:16px !important;
	left:285px !important;
	top:179px !important;
}

#item337172 {
	width:52px !important;
	height:16px !important;
	left:285px !important;
	top:522px !important;
}

#item358577 {
	width:210px !important;
	height:108px !important;
	left:36px !important;
	top:57px !important;
}

#item359322 {
	width:81px !important;
	left:285px !important;
	top:220px !important;
	min-height:22px !important;
}

#item359347 {
	width:81px !important;
	left:285px !important;
	top:566px !important;
	min-height:22px !important;
}

#item362266 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item77943 {
	width:262px !important;
	left:298px !important;
	top:537px !important;
	min-height:173px !important;
}

#item337126 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337102 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337099 {
	width:43px !important;
	height:18px !important;
	left:298px !important;
	top:724px !important;
}

#item359399 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item359374 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item359371 {
	width:43px !important;
	height:18px !important;
	left:376px !important;
	top:724px !important;
}

#item337195 {
	width:52px !important;
	height:16px !important;
	left:298px !important;
	top:706px !important;
}

#item359422 {
	width:52px !important;
	height:16px !important;
	left:376px !important;
	top:706px !important;
}

#item358583 {
	width:523px !important;
	height:269px !important;
	left:36px !important;
	top:57px !important;
}

#item359445 {
	width:81px !important;
	left:298px !important;
	top:751px !important;
	min-height:22px !important;
}

#item359468 {
	width:81px !important;
	left:376px !important;
	top:751px !important;
	min-height:22px !important;
}

#item359491 {
	width:84px !important;
	left:298px !important;
	top:773px !important;
	min-height:22px !important;
}

#item359521 {
	width:84px !important;
	left:376px !important;
	top:773px !important;
	min-height:22px !important;
}

#item78125 {
	width:500px !important;
	left:36px !important;
	top:371px !important;
	min-height:134px !important;
}

#item337272 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337248 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337245 {
	width:43px !important;
	height:18px !important;
	left:36px !important;
	top:526px !important;
}

#item359621 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item359596 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item359593 {
	width:43px !important;
	height:18px !important;
	left:117px !important;
	top:526px !important;
}

#item337295 {
	width:52px !important;
	height:16px !important;
	left:36px !important;
	top:508px !important;
}

#item359644 {
	width:52px !important;
	height:16px !important;
	left:117px !important;
	top:508px !important;
}

#item362243 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item358587 {
	width:523px !important;
	height:295px !important;
	left:36px !important;
	top:52px !important;
}

#item359545 {
	width:81px !important;
	left:36px !important;
	top:550px !important;
	min-height:22px !important;
}

#item359667 {
	width:81px !important;
	left:117px !important;
	top:550px !important;
	min-height:22px !important;
}

#item359568 {
	width:84px !important;
	left:36px !important;
	top:572px !important;
	min-height:22px !important;
}

#item359690 {
	width:84px !important;
	left:118px !important;
	top:572px !important;
	min-height:22px !important;
}

#item362220 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item78102 {
	width:511px !important;
	left:41px !important;
	top:390px !important;
	min-height:156px !important;
}

#item337345 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337321 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337318 {
	width:43px !important;
	height:18px !important;
	left:41px !important;
	top:515px !important;
}

#item337368 {
	width:52px !important;
	height:16px !important;
	left:41px !important;
	top:497px !important;
}

#item358591 {
	width:523px !important;
	height:295px !important;
	left:37px !important;
	top:52px !important;
}

#item359718 {
	width:81px !important;
	left:41px !important;
	top:539px !important;
	min-height:22px !important;
}

#item78246 {
	width:520px !important;
	left:36px !important;
	top:289px !important;
	min-height:93px !important;
}

#item78316 {
	width:219px !important;
	left:250px !important;
	top:436px !important;
	min-height:140px !important;
}

#item337495 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337471 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337468 {
	width:43px !important;
	height:18px !important;
	left:36px !important;
	top:403px !important;
}

#item337545 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337521 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337518 {
	width:43px !important;
	height:18px !important;
	left:250px !important;
	top:582px !important;
}

#item337568 {
	width:52px !important;
	height:16px !important;
	left:36px !important;
	top:385px !important;
}

#item337591 {
	width:52px !important;
	height:16px !important;
	left:250px !important;
	top:564px !important;
}

#item362196 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item358622 {
	width:392px !important;
	height:220px !important;
	left:37px !important;
	top:57px !important;
}

#item359742 {
	width:81px !important;
	left:36px !important;
	top:426px !important;
	min-height:22px !important;
}

#item359765 {
	width:81px !important;
	left:250px !important;
	top:606px !important;
	min-height:22px !important;
}

#item362173 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item78269 {
	width:527px !important;
	left:36px !important;
	top:382px !important;
	min-height:55px !important;
}

#item78293 {
	width:213px !important;
	left:334px !important;
	top:575px !important;
	min-height:244px !important;
}

#item337641 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337617 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337614 {
	width:43px !important;
	height:18px !important;
	left:36px !important;
	top:464px !important;
}

#item359819 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item359795 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item359792 {
	width:43px !important;
	height:18px !important;
	left:136px !important;
	top:464px !important;
}

#item359892 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item359868 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item359865 {
	width:43px !important;
	height:18px !important;
	left:246px !important;
	top:464px !important;
}

#item360119 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item360095 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item360092 {
	width:43px !important;
	height:18px !important;
	left:356px !important;
	top:464px !important;
}

#item337665 {
	width:52px !important;
	height:16px !important;
	left:36px !important;
	top:446px !important;
}

#item359842 {
	width:52px !important;
	height:16px !important;
	left:136px !important;
	top:446px !important;
}

#item359915 {
	width:52px !important;
	height:16px !important;
	left:246px !important;
	top:446px !important;
}

#item360143 {
	width:52px !important;
	height:16px !important;
	left:356px !important;
	top:446px !important;
}

#item358626 {
	width:523px !important;
	height:295px !important;
	left:36px !important;
	top:63px !important;
}

#item359938 {
	width:81px !important;
	left:36px !important;
	top:490px !important;
	min-height:22px !important;
}

#item359961 {
	width:81px !important;
	left:136px !important;
	top:490px !important;
	min-height:22px !important;
}

#item359984 {
	width:81px !important;
	left:246px !important;
	top:490px !important;
	min-height:22px !important;
}

#item360166 {
	width:81px !important;
	left:356px !important;
	top:490px !important;
	min-height:22px !important;
}

#item360037 {
	width:64px !important;
	left:36px !important;
	top:511px !important;
	min-height:12px !important;
}

#item360041 {
	width:64px !important;
	left:136px !important;
	top:511px !important;
	min-height:12px !important;
}

#item360064 {
	width:64px !important;
	left:246px !important;
	top:511px !important;
	min-height:12px !important;
}

#item360189 {
	width:64px !important;
	left:356px !important;
	top:511px !important;
	min-height:12px !important;
}

#item78388 {
	width:329px !important;
	left:68px !important;
	top:62px !important;
	min-height:86px !important;
}

#item78411 {
	width:133px !important;
	left:59px !important;
	top:585px !important;
	min-height:38px !important;
}

#item78434 {
	width:130px !important;
	left:62px !important;
	top:293px !important;
	min-height:106px !important;
}

#item78457 {
	width:130px !important;
	left:237px !important;
	top:297px !important;
	min-height:99px !important;
}

#item78480 {
	width:138px !important;
	left:403px !important;
	top:294px !important;
	min-height:106px !important;
}

#item78504 {
	width:131px !important;
	left:406px !important;
	top:583px !important;
	min-height:44px !important;
}

#item78527 {
	width:133px !important;
	left:234px !important;
	top:583px !important;
	min-height:49px !important;
}

#item337742 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337718 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337715 {
	width:43px !important;
	height:18px !important;
	left:237px !important;
	top:414px !important;
}

#item362150 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item337793 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337769 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337766 {
	width:43px !important;
	height:18px !important;
	left:402px !important;
	top:414px !important;
}

#item337844 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337820 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337817 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item337867 {
	width:52px !important;
	height:16px !important;
}

#item337890 {
	width:52px !important;
	height:16px !important;
	left:237px !important;
	top:396px !important;
}

#item337913 {
	width:52px !important;
	height:16px !important;
	left:402px !important;
	top:396px !important;
}

#item360219 {
	width:81px !important;
	left:62px !important;
	top:440px !important;
	min-height:22px !important;
}

#item360242 {
	width:81px !important;
	left:237px !important;
	top:440px !important;
	min-height:22px !important;
}

#item360265 {
	width:81px !important;
	left:402px !important;
	top:440px !important;
	min-height:22px !important;
}

#item362127 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item78550 {
	width:285px !important;
	left:154px !important;
	top:625px !important;
	min-height:65px !important;
}

#item78573 {
	width:285px !important;
	left:156px !important;
	top:648px !important;
	min-height:65px !important;
}

#item78740 {
	width:243px !important;
	left:36px !important;
	top:375px !important;
	min-height:62px !important;
}

#item78763 {
	width:210px !important;
	left:37px !important;
	top:658px !important;
	min-height:49px !important;
}

#item338001 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item337977 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item337974 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338024 {
	width:52px !important;
	height:16px !important;
}

#item360450 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item360426 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item360423 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item360473 {
	width:52px !important;
	height:16px !important;
}

#item360602 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item360578 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item360575 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item360626 {
	width:52px !important;
	height:16px !important;
}

#item362104 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item358632 {
	width:525px !important;
	height:292px !important;
	left:35px !important;
	top:58px !important;
}

#item360399 {
	width:81px !important;
	left:37px !important;
	top:757px !important;
	min-height:22px !important;
}

#item360497 {
	width:81px !important;
	left:125px !important;
	top:757px !important;
	min-height:22px !important;
}

#item360649 {
	width:81px !important;
	left:213px !important;
	top:757px !important;
	min-height:22px !important;
}

#item360540 {
	width:60px !important;
	left:125px !important;
	top:779px !important;
	min-height:16px !important;
}

#item360672 {
	width:60px !important;
	left:213px !important;
	top:779px !important;
	min-height:16px !important;
}

#item360544 {
	width:60px !important;
	left:37px !important;
	top:779px !important;
	min-height:16px !important;
}

#item362081 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item78694 {
	width:191px !important;
	left:64px !important;
	top:63px !important;
	min-height:125px !important;
}

#item78717 {
	width:191px !important;
	left:322px !important;
	top:483px !important;
	min-height:132px !important;
}

#item338076 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338051 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338048 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338099 {
	width:52px !important;
	height:16px !important;
}

#item338150 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338126 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338123 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338173 {
	width:52px !important;
	height:16px !important;
}

#item360696 {
	width:81px !important;
	left:64px !important;
	top:234px !important;
	min-height:22px !important;
}

#item360749 {
	width:81px !important;
	left:324px !important;
	top:654px !important;
	min-height:22px !important;
}

#item78833 {
	width:191px !important;
	left:240px !important;
	top:531px !important;
	min-height:109px !important;
}

#item362058 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item338237 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338213 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338210 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338260 {
	width:52px !important;
	height:16px !important;
}

#item360774 {
	width:81px !important;
	left:240px !important;
	top:668px !important;
	min-height:22px !important;
}

#item362035 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item78856 {
	width:285px !important;
	left:167px !important;
	top:570px !important;
	min-height:65px !important;
}

#item78879 {
	width:306px !important;
	left:156px !important;
	top:596px !important;
	min-height:65px !important;
}

#item78952 {
	width:211px !important;
	left:319px !important;
	top:57px !important;
	min-height:191px !important;
}

#item78975 {
	width:214px !important;
	left:317px !important;
	top:450px !important;
	min-height:283px !important;
}

#item338329 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338304 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338301 {
	width:43px !important;
	height:18px !important;
	left:319px !important;
	top:272px !important;
}

#item338352 {
	width:52px !important;
	height:16px !important;
	left:319px !important;
	top:637px !important;
}

#item362012 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item338403 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338379 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338376 {
	width:43px !important;
	height:18px !important;
	left:319px !important;
	top:655px !important;
}

#item338426 {
	width:52px !important;
	height:16px !important;
	left:319px !important;
	top:255px !important;
}

#item360798 {
	width:81px !important;
	left:319px !important;
	top:298px !important;
	min-height:22px !important;
}

#item360821 {
	width:81px !important;
	left:319px !important;
	top:680px !important;
	min-height:22px !important;
}

#item361989 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item78998 {
	width:207px !important;
	left:315px !important;
	top:57px !important;
	min-height:283px !important;
}

#item79021 {
	width:207px !important;
	left:315px !important;
	top:450px !important;
	min-height:283px !important;
}

#item338477 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338453 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338450 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338500 {
	width:52px !important;
	height:16px !important;
}

#item338551 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338527 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338524 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338574 {
	width:52px !important;
	height:16px !important;
}

#item360844 {
	width:81px !important;
	left:315px !important;
	top:680px !important;
	min-height:22px !important;
}

#item360867 {
	width:81px !important;
	left:315px !important;
	top:290px !important;
	min-height:22px !important;
}

#item79080 {
	width:285px !important;
	left:34px !important;
	top:612px !important;
	min-height:65px !important;
}

#item79103 {
	width:285px !important;
	left:35px !important;
	top:685px !important;
	min-height:65px !important;
}

#item361966 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item361943 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item79126 {
	width:207px !important;
	left:344px !important;
	top:543px !important;
	min-height:179px !important;
}

#item338632 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338608 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338605 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338655 {
	width:52px !important;
	height:16px !important;
}

#item358636 {
	width:523px !important;
	height:290px !important;
	left:36px !important;
	top:62px !important;
}

#item360895 {
	width:81px !important;
	left:344px !important;
	top:773px !important;
	min-height:22px !important;
}

#item79193 {
	width:191px !important;
	left:193px !important;
	top:465px !important;
	min-height:147px !important;
}

#item338744 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338720 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338717 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338767 {
	width:52px !important;
	height:16px !important;
}

#item361920 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item360920 {
	width:81px !important;
	left:193px !important;
	top:657px !important;
	min-height:22px !important;
}

#item361896 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item79216 {
	width:152px !important;
	left:298px !important;
	top:562px !important;
	min-height:242px !important;
}

#item338819 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338794 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338791 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338843 {
	width:52px !important;
	height:16px !important;
}

#item361020 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item360996 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item360993 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item361043 {
	width:52px !important;
	height:16px !important;
}

#item361148 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item361124 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item361121 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item361171 {
	width:52px !important;
	height:16px !important;
}

#item358641 {
	width:523px !important;
	height:299px !important;
	left:36px !important;
	top:63px !important;
}

#item360943 {
	width:81px !important;
	left:36px !important;
	top:739px !important;
	min-height:22px !important;
}

#item361066 {
	width:81px !important;
	left:127px !important;
	top:739px !important;
	min-height:22px !important;
}

#item361194 {
	width:81px !important;
	left:210px !important;
	top:739px !important;
	min-height:22px !important;
}

#item360988 {
	width:95px !important;
	left:36px !important;
	top:759px !important;
	min-height:22px !important;
}

#item361089 {
	width:95px !important;
	left:127px !important;
	top:759px !important;
	min-height:22px !important;
}

#item361217 {
	width:95px !important;
	left:210px !important;
	top:759px !important;
	min-height:22px !important;
}

#item79348 {
	width:191px !important;
	left:326px !important;
	top:421px !important;
	min-height:153px !important;
}

#item79372 {
	width:211px !important;
	left:326px !important;
	top:42px !important;
	min-height:142px !important;
}

#item338925 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338900 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338897 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item338948 {
	width:52px !important;
	height:16px !important;
}

#item361320 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item361296 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item361293 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item361344 {
	width:52px !important;
	height:16px !important;
}

#item339000 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item338976 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item338973 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item339024 {
	width:52px !important;
	height:16px !important;
}

#item361873 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item361246 {
	width:81px !important;
	left:326px !important;
	top:227px !important;
	min-height:22px !important;
}

#item361423 {
	width:81px !important;
	left:326px !important;
	top:617px !important;
	min-height:22px !important;
}

#item361367 {
	width:81px !important;
	left:418px !important;
	top:227px !important;
	min-height:22px !important;
}

#item361269 {
	width:95px !important;
	left:326px !important;
	top:247px !important;
	min-height:22px !important;
}

#item361390 {
	width:95px !important;
	left:418px !important;
	top:247px !important;
	min-height:22px !important;
}

#item361850 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item79325 {
	width:211px !important;
	left:308px !important;
	top:485px !important;
	min-height:149px !important;
}

#item339075 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item339051 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item339048 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item339098 {
	width:52px !important;
	height:16px !important;
}

#item361446 {
	width:81px !important;
	left:308px !important;
	top:679px !important;
	min-height:22px !important;
}

#item79454 {
	width:191px !important;
	left:337px !important;
	top:439px !important;
	min-height:121px !important;
}

#item79477 {
	width:216px !important;
	left:337px !important;
	top:46px !important;
	min-height:151px !important;
}

#item339165 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item339141 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item339138 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item339188 {
	width:52px !important;
	height:16px !important;
}

#item339314 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item339290 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item339287 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item339337 {
	width:52px !important;
	height:16px !important;
}

#item361827 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item361571 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item361547 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item361544 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item361594 {
	width:52px !important;
	height:16px !important;
}

#item361469 {
	width:81px !important;
	left:337px !important;
	top:240px !important;
	min-height:22px !important;
}

#item361495 {
	width:81px !important;
	left:337px !important;
	top:603px !important;
	min-height:22px !important;
}

#item361617 {
	width:81px !important;
	left:429px !important;
	top:603px !important;
	min-height:22px !important;
}

#item361539 {
	width:93px !important;
	left:337px !important;
	top:626px !important;
	min-height:15px !important;
}

#item361640 {
	width:93px !important;
	left:429px !important;
	top:626px !important;
	min-height:15px !important;
}

#item361803 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item79500 {
	width:267px !important;
	left:264px !important;
	top:57px !important;
	min-height:140px !important;
}

#item339240 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item339215 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item339212 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item339263 {
	width:52px !important;
	height:16px !important;
}

#item361670 {
	width:81px !important;
	left:264px !important;
	top:244px !important;
	min-height:22px !important;
}

#item361780 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}

#item79566 {
	width:285px !important;
	left:154px !important;
	top:624px !important;
	min-height:65px !important;
}

#item79589 {
	width:306px !important;
	left:145px !important;
	top:646px !important;
	min-height:65px !important;
}

#item339411 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#fc5000;
}

#item339387 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}

#item339384 {
	width:43px !important;
	height:18px !important;
	top:18px !important;
}

#item339434 {
	width:52px !important;
	height:16px !important;
}

#item361756 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}

#item79612 {
	width:263px !important;
	left:227px !important;
	top:60px !important;
	min-height:140px !important;
}

#item358646 {
	width:245px !important;
	height:143px !important;
	left:314px !important;
	top:229px !important;
}

#item361693 {
	width:81px !important;
	left:227px !important;
	top:240px !important;
	min-height:22px !important;
}
#in5footer,  #prefooter {display:none;}

#loadIndicator{display:none;}
