

/* banyo_ek sayfa stilleri (104-105) */
#item609 {
	width:34px !important;
	height:18px !important;
	left:36px !important;
	top:25px !important;
}
#item669 {
	width:43px !important;
	height:9px !important;
	left:54px !important;
	top:810px !important;
}
#item41927 {
	width:141px !important;
	left:58px !important;
	top:155px !important;
	min-height:74px !important;
}
#item43638 {
	width:141px !important;
	left:58px !important;
	top:421px !important;
	min-height:74px !important;
}
#item43446 {
	width:141px !important;
	left:212px !important;
	top:155px !important;
	min-height:74px !important;
}
#item43661 {
	width:141px !important;
	left:212px !important;
	top:421px !important;
	min-height:74px !important;
}
#item43521 {
	width:141px !important;
	left:375px !important;
	top:155px !important;
	min-height:74px !important;
}
#item41989 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item41986 {
	width:43px !important;
	height:18px !important;
	left:58px !important;
	top:252px !important;
}
#item43711 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item43708 {
	width:43px !important;
	height:18px !important;
	left:58px !important;
	top:517px !important;
}
#item43475 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item43472 {
	width:43px !important;
	height:18px !important;
	left:212px !important;
	top:252px !important;
}
#item43737 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item43734 {
	width:43px !important;
	height:18px !important;
	left:212px !important;
	top:517px !important;
}
#item43550 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item43547 {
	width:43px !important;
	height:18px !important;
	left:375px !important;
	top:252px !important;
}
#item45345 {
	width:16px !important;
	height:9px !important;
	left:36px !important;
	top:810px !important;
}
#item42038 {
	width:69px !important;
	height:16px !important;
	left:58px !important;
	top:231px !important;
}
#item43786 {
	width:69px !important;
	height:16px !important;
	left:58px !important;
	top:497px !important;
}
#item43498 {
	width:69px !important;
	height:16px !important;
	left:212px !important;
	top:231px !important;
}
#item43809 {
	width:69px !important;
	height:16px !important;
	left:212px !important;
	top:497px !important;
}
#item43574 {
	width:69px !important;
	height:16px !important;
	left:375px !important;
	top:231px !important;
}
#item617 {
	width:34px !important;
	height:18px !important;
	left:526px !important;
	top:25px !important;
}
#item692 {
	width:43px !important;
	height:9px !important;
	left:496px !important;
	top:810px !important;
}
#item43978 {
	width:141px !important;
	left:93px !important;
	top:155px !important;
	min-height:74px !important;
}
#item44001 {
	width:141px !important;
	left:93px !important;
	top:421px !important;
	min-height:74px !important;
}
#item44024 {
	width:141px !important;
	left:247px !important;
	top:155px !important;
	min-height:74px !important;
}
#item44047 {
	width:141px !important;
	left:247px !important;
	top:421px !important;
	min-height:74px !important;
}
#item45322 {
	width:16px !important;
	height:9px !important;
	left:543px !important;
	top:810px !important;
}
#item44070 {
	width:141px !important;
	left:410px !important;
	top:155px !important;
	min-height:74px !important;
}
#item44113 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item44110 {
	width:43px !important;
	height:18px !important;
	left:93px !important;
	top:252px !important;
}
#item44139 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item44136 {
	width:43px !important;
	height:18px !important;
	left:93px !important;
	top:517px !important;
}
#item44165 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item44162 {
	width:43px !important;
	height:18px !important;
	left:247px !important;
	top:252px !important;
}
#item44191 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item44188 {
	width:43px !important;
	height:18px !important;
	left:247px !important;
	top:517px !important;
}
#item44217 {
	width:43px !important;
	height:18px !important;
	border-radius:3px;
	background:#000;
}
#item44214 {
	width:43px !important;
	height:18px !important;
	left:410px !important;
	top:252px !important;
}
#item44240 {
	width:69px !important;
	height:16px !important;
	left:93px !important;
	top:231px !important;
}
#item44263 {
	width:69px !important;
	height:16px !important;
	left:93px !important;
	top:497px !important;
}
#item44287 {
	width:69px !important;
	height:16px !important;
	left:247px !important;
	top:231px !important;
}
#item44311 {
	width:69px !important;
	height:16px !important;
	left:247px !important;
	top:497px !important;
}
#item44334 {
	width:69px !important;
	height:16px !important;
	left:410px !important;
	top:231px !important;
}